* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    background-color: #ffffff;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #30598c;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    height: 60px;
    position: relative;
    position: fixed;
    z-index: 1;
    top: 0;

}

#header-logo {
    align-items: center;
    text-align: center;
    height: 60px;
    display: flex;
    margin: 0 20px;
}

#nav {
    display: flex;
    text-align: center;
    align-items: center;
}

#nav {
    height: 60px;
}

.nav-menu li {
    display: inline-block;
    padding: 0 20px;


}

.nav-menu>li>a {
    color: #fff;
    display: inline-block;
    line-height: 60px;
}

.nav-menu>li>a:hover {
    color: #c4c4c4;
}
.nav-menu>li:hover>.nav-menu-sub {
    display: block;
}
.nav-user {
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
}

.nav-shop {
    margin-left: 10px;
}

.nav-user,
.nav-shop:hover {
    cursor: pointer;
}

.nav-tap {
    height: 1px;
    background-color: black;
}
/* nút Hover Container */
.nav-menu li:hover .nav-menu-item {
    display: block;
} 
.open {
    display: block !important;
}
.nav-menu-item {
    display: none;
    position: absolute;
    color: black;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 0;
    background-color: #fff;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sub-nav {
    display: flex;
    margin: 0px 40px;
    max-width: 1140px;
    gap: 40px;
    text-align: center;
    align-items: center;


}
.sub-item-title {
    position: relative;

}
.ti-book,
.ti-user {
    padding-right: 10px;
}

.sub-nav-item {
    height: 52px;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}
.sub-item-title::after {
    background-color: #30598c;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 40px;
}

.sub-nav-item:hover {
    border-bottom: 1px solid #30598c;
    color: #30598c;
}

.nav-menu-sub {
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    display: none;
    left: auto;
    padding: 0;
    right: 144px;
    width: 200px;
    z-index: 1000;
}
.nav-menu-sub li {
    width: 100%;
    height: 40px;
    background-color: white;
}

.nav-menu-sub a {
    color: #7c7c7c;
    font-size: 15px;
    line-height: 40px;
}
.nav-menu-sub>li:hover>a {
    color: #fff;
}
.nav-menu-sub>li:hover {
    background-color: #7c7c7c;
}
/* làm nút user */
.nav-menu-sub1 {
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    display: none;
    left: auto;
    padding: 0;
    right: 0;
    width: 200px;
    top: 60px;
}
.nav-menu-sub1 li {
    width: 100%;
    height: 40px;
    background-color: #fff;
    
}

.nav-menu-sub1 a {
    color: #7c7c7c;
    font-size: 15px;
    line-height: 40px;
}
.nav-menu-sub1>li:hover>a {
    color: #fff;
}
.nav-menu-sub1>li:hover {
    background-color: #7c7c7c;
}
.nav-user:hover .nav-menu-sub1 {
    display: block;
}
/* Chỉnh position  */
.nav-menu>li>a {
    position: relative;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    
}
.content {
    width: 100%;
    margin-bottom: 20px;
    
}
.sub-content {
    display: flex;
    font-size: 16px;
    gap: 80px;
}
.sub-item {
    text-align: left;
}
.sub-item a {
    display: block;
    color: black;
}
.sub-item-title {
    padding: 20px 0;
    color: #30598c;
    margin-bottom: 10px;
    font-weight: 500;
}
.sub-item a{
    padding: 10px 0;
    font-weight: 400;
}
.sub-item>a:hover {
    color: #30598c;
}

.sub-nav-active {
    border-bottom: 1px solid #30598c;
    color: #30598c;
}

/* Nội Dung Card  */
.container-max {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7fa;

}
.container-card {
    max-width: 1280px;
    height: auto;
    margin: auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
.card-item {
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    width: 380px;
    height: 385px;
    border-radius: 10px;
    background-color: #f4f7fa;
    margin: 20px 0;
}
.card-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.logo-item {
    width: 380px;
    height: 250px;

}
.img-boder {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-item {
    margin: 24px ;
 }
 .header-item {
    font-size: 19.2px;
    color: #464646;
    margin-bottom: 24px;
    line-height: 1.5;
 }
 .icon-item {
    display: flex;
    justify-content: space-between;
    color: #464646;
    font-size: 14.4px;
 }
 .icon-item>p>i {
    color: #ffd600;
 }
 /* Footer */
 .container-footer {
    width: 100%;
    background-color: #30598c;
 }
 .row {
    max-width: 1280px;
    height: auto;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
 }
 .footer-content {
    padding: 0 10px;
    width: 270px;
 }
 .footer-info h4,
 .footer-info li,
 .footer-info li a {
    color: #fff;
 }
 .footer-info h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
 }
 .footer-info li,
 .footer-info li a {
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
 }
 .desktop {
    display: flex;
    height: 50px;
    justify-content: flex-start;
 }
 .desktop li {
    font-size: 1rem;
    margin-right: 20px;
 }
 